.info-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.322);
  font-weight: 400;
  background: #fff;
  font-family: 'Fira Sans' ; 
  
}
